<div class="footer-bot">
    <div class="w3layouts-newsletter">
        <div class="w3ls-social-icons-2">
            <h3>Liên hệ với chúng tôi</h3>
            <a class="facebook" href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="twitter" href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="pinterest" href="#">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="linkedin" href="#">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <div class="col-md-7 agileinfo-newsletter">
            <h3>
                <i class="fa fa-envelope" aria-hidden="true"></i>Tham gia bản tin của chúng tôi
            </h3>
            <form action="#" method="post">
                <input type="email" placeholder="Nhập email của bạn" name="email" required="">
                <input type="submit" value="Đăng ký">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="container">
        <div class="col-xs-3 logo2">
            <h2>
                <a href="/Home/Index">
                    <span>W</span>ebApp
                    <span>L</span>ife
                </a>
            </h2>
        </div>
        <div class="col-xs-9 ftr-menu">
            <ul>
                <li>
                    <a class="scroll" href="#ontop">Trang chủ</a>
                </li>
                <li>
                    <a class="scroll" href="#about">Về chúng tôi</a>
                </li>
                <li>
                    <a class="scroll" href="#services">Dịch vụ</a>
                </li>
                <li>
                    <a class="scroll" href="#team">Đội ngũ</a>
                </li>
                <li>
                    <a class="scroll" href="#projects">Sản phẩm</a>
                </li>
                <li>
                    <a class="scroll" href="#customers">Khách hàng</a>
                </li>
                <li>
                    <a class="scroll" href="#contact">Liên hệ</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="copy-right">
            <p>
                &copy; 2018 WebApp Life. All Rights Reserved | Design by
                <a href="http://w3layouts.com/"> W3layouts</a>
            </p>
        </div>
    </div>
</div>
