@using Microsoft.AspNet.Identity;

<div class="main-agile" id="ontop">
    <!-- banner -->
    <div class="agile-top">
        <div class="col-xs-4 logo">
            <h1>
                <a href="/Home/Index">
                    <span>W</span>ebApp
                    <span>L</span>ife
                </a>
            </h1>
        </div>
        <div class="col-xs-6 header-w3l">
            <ul>
                @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                {
                    if (Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:mr.huynhnghiem@mail.com">mr.huynhnghiem@mail.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>+84 964 264 324</li>
                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#"><span> </span>Xin chào: @User.Identity.GetUserName()</a></li>
                        <li><i class="fa fa-sign-out" aria-hidden="true"></i><a href="#" id="btnLogout">Thoát</a></li>
                    }
                    else
                    {
                        <li>
                            <a href="#" data-toggle="modal" data-target="#frmlogin">
                                <span class="fa fa-unlock-alt" aria-hidden="true"></span> Đăng nhập
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#frmsignin">
                                <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Đăng ký
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- navigation -->
        <div class="col-xs-2 menu">
            <a href="" id="menuToggle">
                <span class="navClosed"></span>
            </a>
            <nav>
                <a href="#ontop" class="scroll">Trang chủ</a>
                <a href="#about" class="scroll">Về chúng tôi</a>
                <a href="#services" class="scroll">Dịch vụ</a>
                <a href="#team" class="scroll">Đội ngũ</a>
                <a href="#projects" class="scroll">Sản phẩm</a>
                <a href="#customers" class="scroll">Khách hàng</a>
                <a href="#contact" class="scroll">Liên hệ</a>
            </nav>
        </div>
        <!-- //navigation -->
    </div>
</div>
<!-- login Model -->
@{ Html.RenderAction("Login", "Account"); }
<!-- //login Model -->
<!-- signup Model -->
@{ Html.RenderAction("Register", "Account"); }
<!-- //signup Model -->
